// ==============
//  c-button
//  =============
.c-btn {
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;

  display: inline-block;
  font-family: inherit;
  padding: 15px 20px;
  transition: background-color 0.5s;
  background: $color_Primary;
  &:hover {
    transition: background-color 0.5s;
    background: #7eb1d6;
  }
  &:disabled {
    cursor: not-allowed;
    background: #cdcdcd;
    color: #fff;
  }
  &__header {
    transition: all 0.5s;
    box-sizing: border-box;
    &:hover {
      background: #efefef;
    }
  }
  &__auth {
    background: $btn-color_auth;
    font-weight: bold;
    width: 100%;
  }
  // モーダル用
  &__modal {
    background: $btn-color_auth;
    border: #8a8a8a;
    width: 40%;
    max-width: 160px;
    height: auto;
    padding: 15px 5px;
    &:hover {
      background: #888888;
    }
    &--add {
      width: 100%;
      font-size: $font-size_l;
    }
  }
  &__course {
    // コースを追加するボタン
    &--add {
      width: 100%;
      border: 4px dashed #888;
      background: #fff;
      padding: 32px 0;
      font-size: 1.6rem;
      @include mq() {
        border-width: 2px;
        padding: 20px 0;
        font-size: 1.2rem;
      }
      &:hover {
        background: #cdcdcd;
        font-weight: bold;
      }
    }
    // コース1つの削除
    &--delete {
      position: absolute;
      top: -15px;
      right: -25px;
      padding: 0;
      width: 50px;
      height: 50px;
      font-size: $font-size_xl;
      font-weight: 700;
      border-radius: 50%;
      border: 3px solid #cdcdcd;
      background: #cdcdcd;
      @include mq($breakpoint: md) {
        top: -20px;
        right: -12px;
      }
      &:hover {
        background: #fff;
      }
    }
  }
  // 編集投稿ページの送信ボタン
  &__edit {
    &--submit {
      width: 100%;
      font-size: $font-size_l;
    }
  }
  &--delete {
    background: #f8f8f8;
    border: 1px solid $btn-color_danger-hover;
    box-shadow: #cdcdcd 0 2px 5px;
    color: $btn-color_danger-hover;
    white-space: nowrap;
    &:hover {
      background: $btn-color_danger-hover;
      color: #f8f8f8;
    }
  }
  &__twitter {
    background: $btn-color_twitter;
    color: $font-color_white;
    font-weight: bold;
    &:hover {
      background: $btn-color-twitter_hover;
    }
  }
  &__follow {
    min-width: 100px;
    padding: 10px 18px;
    border-radius: 20px;
    border: 2px solid $btn-color_twitter;
    color: $color_twitter;
    background: #ffffff;
    @include mq($breakpoint: md) {
      min-width: 60px;
      font-size: $font-size_m;
      padding: 10px 8px;
    }
    @include mq() {
      min-width: 40px;
      font-size: 11px;
      padding: 10px 6px;
    }
    &:hover {
      background: #257cc4;
      color: $font-color_white;
    }
    &--destroy {
      border: 2px solid $btn-color_danger;
      color: $btn-color_danger;
      &:hover {
        background: $btn-color_danger-hover;
      }
    }
  }
  &__link {
    border: 0;
  }
  &__fluid {
    width: 100%;
  }
  &__modal {
    @include mq() {
      min-width: 100px;
      padding: 10px 15px;
    }
  }
  &__main {
    text-align: center;
    padding: $space_l 100px;
    margin: auto 0;
    font-size: 1.2rem;
  }
  // アカウント設定画面用
  &__setting {
    &--update {
      min-width: 180px;
      @include mq() {
        min-width: unset;
      }
    }
    &--withdraw {
      background: #f8f8f8;
      border: 1px solid $btn-color_danger-hover;
      box-shadow: #cdcdcd 0 2px 5px;
      color: $btn-color_danger-hover;
      font-weight: 700;
      white-space: nowrap;
      &:hover {
        background: $btn-color_danger-hover;
        color: #f8f8f8;
      }
    }
  }
}
