// ===========
//  c-modal
//  ==========
.c-modal {
  background: #ffffff;
  border-radius: 4px;
  transition: 0.3s all;
  width: 60%;
  max-height: 80%;
  overflow-y: scroll;
  top: 10%;
  left: 20%;
  padding: 20px 25px;
  position: fixed;
  z-index: 5;
  @include mq($breakpoint: md) {
    width: 80%;
    left: 10%;
  }
  @include mq() {
    width: 90%;
    padding: 12px 8px;
    left: 5%;
  }
  &__cover {
    transition: 0.3s all;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background: rgba(49, 64, 103, 0.3);
  }
}
