// =============
//  c-title
// =============
.c-ribbon {
  height: 40px;
  width: 100%;

  color: #fff;

  font-size: 20px;
  margin-bottom: 15px;
  background: #1d7ebe;
  border-radius: 4px;
  position: relative;
  word-break: break-all;

  @include mq() {
    height: 25px;
    font-size: $font-size_m;
    margin-bottom: $space_s;
  }
  &__content {
    position: absolute;
    padding: 8px 20px;
    @include mq() {
      padding: 4px 10px;
    }

    &--left {
      left: 0;
      @include mq($breakpoint: md) {
        display: none;
      }
    }
    &--right {
      right: 0;
      @include mq() {
        left: 0;
        right: unset;
      }
    }
  }

  &__date {
    font-weight: bold;
  }
}
