// =============
//  c-site
// =============
.c-site {
  &__title {
    border-bottom: 3px solid #c6ebf8;
    color: #8cdbf6;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
    @include mq() {
      font-size: 20px;
    }
  }
}
