// ==============
//  p-auth
// ==============
.p-auth {
  padding: 80px 20px;
  background: #fff;
  box-shadow: #8a8a8a 0 0 12px;
  position: relative;
  &__checkbox {
    margin-bottom: $space_xl;
  }
  &__tab {
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
    @include mq() {
      margin-top: 12px;
      width: 100%;
    }
  }
  // SNSでログインなどで使う「または」
  &__another {
    margin: $space_l auto;
    text-align: center;
  }
}
