//  =============
//  p-error
//  =============
.p-error {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 120px;
  &__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 60px;
    @include mq($breakpoint: md) {
      max-width: 100%;
    }
    @include mq() {
      padding: 5px 32px;
    }
  }
  &__statusCode {
    margin-bottom: 30px;
    &--code {
      font-weight: bold;
      font-size: 90px;
      @include mq() {
        display: block;
      }
    }
    &--text {
      margin-left: 12px;
      font-size: 45px;
      font-weight: unset;
      color: #cdcdcd;
      @include mq() {
        display: block;
        font-size: 25px;
      }
    }
  }
  &__description {
    font-size: 20px;
    margin-bottom: 60px;
    line-height: 1.5;
    text-align: left;
  }
}
