// ==============
//  p-landing
//  =============
.p-landing {
  &__hero {
    &:before{
      content:"";
      display:block;
      position:fixed;
      top:0;
      left:0;
      z-index:-1;
      width:100%;
      height:100vh;
      background:url(https://udemyloadstorage.s3.ap-northeast-1.amazonaws.com/images/figures/info_hero.jpg) center no-repeat;
      background-size:cover;
    }
  }
  &__container {
    padding: 0 5%;
    max-width: 1200px;
    height: auto;
    margin: 50px auto 100px;
    &--hero {
      margin: 180px auto;
      @include mq() {
        margin: 80px auto 150px;
      }
    }
    &--flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__introduction {
    position: absolute;
    top: 30%;
    right: 10%;
    text-align: center;
    @include mq() {
      right: 0;
    }

    &--title {
      font-size: 48px;
      font-weight: bold;
      line-height: 1.5;
      color: $font-color_white;
      text-shadow: 0 5px 5px #000000;

      @include mq() {
        font-size: 23px;
      }
    }
    &--subtitle {
      margin-top: 16px;
      margin-bottom: 48px;
      font-size: $font-size_xl;
      font-weight: bold;
      color: $font-color_white;
      text-shadow: 0 5px 5px #000000;
      @include mq() {
        font-size: $font-size_l;
      }
    }
  }
  &__service {
    height: 100%;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    @include mq($breakpoint: md) {
      flex-direction: column;
      justify-content: unset;
    }

    &--item {
      min-height: 480px;
      height: 100%;
      width: 30%;
      background: #f9fffe;
      box-shadow: 0 4px 10px #cdcdcd;
      border-radius: 8px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative;

      @include mq($breakpoint: md) {
        width: 90%;
        height: 100%;
        margin-bottom: 15px;
      }
      &--img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
      }
      &--info {
        margin-top: 24px;
        &--title {
          font-size: 20px;
          font-weight: bold;
          margin-top: 5px;
          margin-bottom: 12px;
        }
        &--text {
          text-align: left;
          font-size: $font-size_default;
          line-height: 1.5;
          color: #777;
          word-break: break-all;
        }
      }
    }
  }
  &__section {
    height: 100%;
    width: 100%;
    display: inline-block;
    &--info {
      height: 100%;
    }
    &--bg {
      &:nth-of-type(2n) {
        background: #fff;
      }
      &:nth-of-type(2n-1) {
        background: #f8f8f8;
      }
    }
    &--title {
      height: 100%;
      margin-top: 28px;
      font-size: $font-size_xxl;
      font-weight: 700;
      line-height: 180%;
      text-align: center;
      @include mq($breakpoint: lg) {
        font-size: 25px;
      }
      @include mq() {
        font-size: $font-size_l;
        text-align: left;
      }
      &--logo {
        color: #ff7273;
        text-shadow: #f8f8f8 0 1px 3px;
      }
    }
    &--text {
      height: 100%;
      margin-top: 32px;
      font-size: 20px;
      color: #8a8a8a;
      line-height: 1.6;
      text-align: center;
      @include mq() {
        text-align: left;
      }
    }
    &--bigimg {
      width: 100%;
    }
  }
  &__footer {
    padding-bottom: 120px;
    text-align: center;
  }
}