// ==============
//  p-modal
//  =============
.p-modal {
  background: #ffffff;
  border-radius: 4px;
  &__search {
    &__form {
      padding: 5px;
    }
    &__title {
      font-size: $font-size_l;
    }
    &__btn-inner {
      display: flex;
      justify-content: space-around;
    }
  }
}
