// ==============
//  p-record
//  =============
.p-record {
  background: #e6f7ff;
  // 一覧
  &__list {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0 auto;
    &--inner {
      width: 50%;
      margin: 0 auto;
      padding: 5px;
    }
    &-item {
      padding: 15px;
      border-top: 1px solid rgba(0, 0, 0, .12);
      &--title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 5px;
        line-height: 1.5;
        word-break: break-all;
        :hover {
          border-bottom: 1px solid #000;
        }
      }
      &--description {
        font-size: 14px;
        line-height: 1.8;
      }
    }
  }
  // レコード詳細画面
  &__detail {
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    position: relative;
    display: flex;
    &--left {
      width: 10%;
      @include mq() {
        width: 5%;
      }
    }
    &--right {
      width: auto;
    }

    &--list {
      padding: 12px;
    }
    &--line {
      position: absolute;
      left: -2em;
      background: #f66d9b;
      width: 5px;
      height: 100%;
      &::before, &::after{
        display: block;
        position: absolute;
        content: '';
        border-radius: 50%;
        background: #f66d9b;
      }
      &::before {
        left: -10px;
        top: 0;
        width: 25px;
        height: 25px;
        border: 3px solid #f59dbb;
      }
      &::after {
        left: -4px;
        top: 100%;
        width: 15px;
        height: 15px;
      }
    }
  }
  // 詳細画面のインフォメーション
  &__info {
    background: #1c1e1f;
    padding: 24px 0;
    color: #fff;
    margin-bottom: 20px;
    &--inner {
      width: 80%;
      margin: 0 auto;
      padding: 5px;
    }
    &--title {
      font-size: 40px;
      font-weight: bold;
      line-height: 1.5;
      word-break: break-all;
      margin-bottom: 5px;
    }
    &--description {
      font-size: 20px;
      letter-spacing: 2.5px;
      min-height: 240px;
      line-height: 1.5;
      // 改行に対応
      white-space: pre-line;
    }
  }
  // 編集・投稿画面
  &__edit {
    &--inner {
      width: 60%;
      padding-top: 120px;
      padding-bottom: 120px;
      margin: 0 auto;
    }
    &--title {
      text-align: center;
      font-size: 25px;
      font-weight: 600;
    }
    &--textarea {
      width: 100%;
    }
  }
  // コメント関連
  &__comment {
    width: 80%;
    padding: 15px 5px;
    margin: 0 auto;
    &--head {
      font-size: 24px;
      font-weight: 700;
      padding: 30px 15px 10px;
    }
    &--list {

    }
    &--item {
      padding: 20px 30px;
      border-top: 1px solid #8a8a8a;
    }
    &--author {
      font-size: 12px;
      color: #8a8a8a;
    }
    &--content {
      font-size: 16px;
      line-height: 1.5;
      padding: 10px;
      white-space: pre-wrap;
      font-weight: unset;
    }
    &--textarea {
      min-width: 640px;
      min-height: 180px;
    }
  }
}