// =========
// u-color
// =========
.u-bg {
  &-blue {
    background: #f5f6ff;
  }
  &-purple {
    background: #efe7fb;
  }
  &-green {
    background: #f0f5e7;
  }
  &-info {
    &:nth-of-type(2n) {
      background: #fff;
    }
    &:nth-of-type(2n-1) {
      background: #f8f8f8;
    }
  }
}

.u-color {
  &--red {
    color: $font-color_error;
  }
  &--info {
    color: #fff;
  }
}
