//  ===============
//  utility-other
//  ===============
.u {
  &-overflow {
    &__hidden {
      overflow: hidden;
    }
  }

  &-text--center {
    text-align: center;
  }
  &-text--right {
    text-align: right;
  }
  &-text--left {
    text-align: left;
  }
  &-text--center__sp--left {
    text-align: center;
    @include mq() {
      text-align: left;
    }
  }

  &-bt {
    border-top: 1px solid #8a8a8a;
  }
  &-bb {
    border-bottom: 1px solid #8a8a8a;
  }

  &-scroll-prevent {
    position: fixed;
    width: 100%;
    height: 100%;
  }
  &-font--bold {
    font-weight: bold;
  }

  &-sp__block {
    display: none;
    @include mq() {
      display: block;
    }
  }

  &-flex {
    display: flex;
  }
  &-space-between {
    justify-content: space-between;
  }
}
