//  ===============
//  utility-space
//  ===============
.u {
  // margin-top
  &-mt {
    &-m {
      margin-top: $space_m;
    }
    &-l {
      margin-top: $space_l;
    }
    &-xl {
      margin-top: $space_xl;
    }
    &-3l {
      margin-top: $space_3l;
    }
    &-50 {
      margin-top: 50px;
    }
  }
  // margin-bottom
  &-mb {
    &-s {
      margin-bottom: $space_s;
    }
    &-m {
      margin-bottom: $space_m;
    }
    &-l {
      margin-bottom: $space_l;
    }
    &-xl {
      margin-bottom: $space_xl;
    }
    &-3l {
      margin-bottom: $space_3l;
    }
    &-50 {
      margin-bottom: 50px;
    }
  }
  // padding-top
  &-pt {
    &-m {
      padding-top: $space_m;
    }
    &-l {
      padding-top: $space_l;
    }
    &-xl {
      padding-top: $space_xl;
    }
    &-3l {
      padding-top: $space_3l;
    }
    &-50 {
      padding-top: 50px;
    }
  }
  // padding-bottom
  &-pb {
    &-m {
      padding-bottom: $space_m;
    }
    &-l {
      padding-bottom: $space_l;
    }
    &-xl {
      padding-bottom: $space_xl;
    }
    &-3l {
      padding-bottom: $space_3l;
    }
    &-50 {
      padding-bottom: 50px;
    }
  }
  &-pd {
    padding: $space_s $space_s;
  }
}
