//  ===============
//  utility-space
//  ===============
.u {
  &-mt-l {
    margin-top: $space_l;
  }
  &-mt-xl {
    margin-top: $space_xl;
  }
  &-mt-3l {
    margin-top: $space_3l;
  }

  &-mb-l {
    margin-bottom: $space_l;
  }
  &-mb-xl {
    margin-bottom: $space_xl;
  }
  &-mb-3l {
    margin-bottom: $space_3l;
  }

  &-pd {
    padding: $space_s $space_s;
  }
}
